/* Hacker News-inspired CSS */

body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10pt;
    color: #000000;
    background-color: #f6f6ef;
    margin: 0;
    padding: 0;
}

body > center {
    background-color: #f6f6ef;
}

a {
    color: #000000;
    text-decoration: none;
}

a:visited {
    color: #828282;
}

a:hover {
    text-decoration: underline;
}

#hnmain {
    background-color: #f6f6ef;
    margin: 0 auto;
}

.pagetop {
    font-size: 10pt;
    color: #000000;
    line-height: 12pt;
}

.pagetop a {
    color: #000000;
}

.pagetop a:visited {
    color: #828282;
}

.pagetop b {
    font-weight: bold;
}

.hnname {
    font-weight: bold;
}

.hnname a {
    color: #ffffff;
}

.itemlist {
    width: 100%;
}

.athing {
    background-color: #f6f6ef;
}

.title {
    padding-right: 5px;
    vertical-align: baseline;
    font-size: 10pt;
}

.rank {
    font-size: 10pt;
    color: #828282;
    padding-right: 5px;
}

.titleline {
    font-size: 10pt;
}

.titleline a {
    color: #000000;
    font-weight: normal;
}

.titleline a:visited {
    color: #828282;
}

.sitebit {
    font-size: 8pt;
    color: #828282;
}

.sitestr {
    color: #828282;
}

.subtext {
    font-size: 7pt;
    color: #828282;
    padding-left: 40px;
}

.subtext a {
    color: #828282;
}

.subtext a:visited {
    color: #828282;
}

.subtext a:hover {
    text-decoration: underline;
}

.subline {
    font-size: 7pt;
    color: #828282;
}

.age {
    color: #828282;
}

.spacer {
    height: 5px;
}

.comment {
    font-size: 9pt;
    margin-top: 10px;
    margin-left: 0;
    margin-bottom: 10px;
}

.commtext {
    color: #000000;
    margin-top: 5px;
    max-width: 1215px;
}

.commtext p {
    margin-top: 8px;
    margin-bottom: 8px;
}

.footer {
    font-size: 8pt;
    color: #828282;
    text-align: center;
}

.footer a {
    color: #828282;
}

input[type="text"] {
    font-family: monospace;
    font-size: 10pt;
    padding: 2px;
    border: 1px solid #828282;
}

input[type="submit"] {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10pt;
    padding: 2px 10px;
    background-color: #ff6600;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #ff5500;
}

table {
    border-collapse: collapse;
}

th {
    font-size: 8pt;
    font-weight: bold;
    padding: 5px;
    text-align: left;
}

td {
    font-size: 10pt;
    padding: 2px;
}

/* Article detail table styling */
.comment table {
    margin-top: 10px;
    border-collapse: collapse;
}

.comment table th {
    background-color: #f6f6ef;
    padding: 5px 10px;
    border-bottom: 1px solid #828282;
}

.comment table td {
    padding: 5px 10px;
}
